@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: poppins;
    background-color: #f5f2f0;
}
.container{
    float: left;
    width: 100%;
}
.left{
    float: left;
    width: 27%;
    padding-top: 50px;
    padding-left: 50px;
}
.left .logo img{
    width: 20%;
}
.left .imagia-1 img{
    position: absolute;
    z-index: -1;
    width: 30%;
    top: 0;
    left: 0;
    height: 100%;
}
.right{
    float: right;
    width: 69%;
    padding-top: 50px;
}
.right .hr{
    border-bottom: 2px solid #000;
    width: 30%;
    display: flex;
    float: left;
    margin-left: 50px;
    padding-bottom: 10px;
}
.right .navbar .list{
    list-style-type: none;
    display: flex;
}
.right .navbar .list li{
    justify-content: space-evenly;
    margin-left: 40px;
    margin-right: 40px;
    color: #828282;
}
.right .navbar .list .active{
    color: #000;
}



.right .menu-1 h1{
    margin-top: 50px;
    font-weight: 900;
    font-size: 100px;
    margin-left: 50px;
    line-height: 50px;
    font-family: Martel;

}
.right .menu-1 .hed-1 h1{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333333;
    color: transparent;
    
}   
.right .menu-1 .hed-2{
    margin-left: 120px;
    color: #333333;    
    display: flex;
    float: left;
}   
.right .menu-1 .hed-3{
    display: flex;
    float: left;
    font-family: Martel;
    font-weight: normal;
    font-style: normal;
    color: #828282;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 60px;
    line-height: 35px;
}
.right .menu-1 .icons{
    float: left;
    top: 10px;
    margin-left: 180px;
    margin-top: -80px;
}
.right .menu-1 .icons img{
    display: block;
    padding: 15px 0px;
    width: 20px;
}
.right .menu-1 button{
    background-color: #333333;
    color: #ffffff;
    float: left;
    padding: 20px 82px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    margin-left: 555px;
    margin-top: 20px;
}
.right .menu-2{
    float: left;
    width: 90%;
    margin-left: 50px;
}
.right .menu-2 .lists{
    width: 150px;
    margin-left: 50px;
}
.right .menu-2 .lists li{
    float: left;
    list-style-type: none;
    margin-bottom: 40px;
    color: #828282;
}
.right .menu-2 .lists .active{
    color: #000;
}
.right .menu-2 .hr-1{
    border-right: 2px solid #828282;
    height: 320px;
    position: absolute;
    margin-top: 10px;
}
.right .menu-2 .cont-1{
    padding: 7px;
    border: none;
    border-radius: 100%;
    background-color: #000;
    width: 0.2%;
    left: 520px;
    float: left;
    top: 54%;
    position: absolute;
}
.right .menu-2 .cont-2{
    padding: 7px;
    border: none;
    border-radius: 100%;
    background-color: #828282;
    width: 0.2%;
    left: 520px;
    float: left;
    top: 63%;
    position: absolute;
}
.right .menu-2 .cont-3{
    padding: 7px;
    border: none;
    border-radius: 100%;
    background-color: #828282;
    width: 0.2%;
    left: 520px;
    float: left;
    top: 72%;
    position: absolute;
}
.right .menu-2 .cont-4{
    padding: 7px;
    border: none;
    border-radius: 100%;
    background-color: #828282;
    width: 0.2%;
    left: 520px;
    float: left;
    top: 81%;
    position: absolute;
}
.right .menu-2 .cont-5{
    padding: 7px;
    border: none;
    border-radius: 100%;
    background-color: #828282;
    width: 0.2%;
    left: 520px;
    float: left;
    top: 90%;
    position: absolute;
}
.right .menu-2 .menu-2-1{
    float: left;
    position: absolute;
    margin-left: 200px;
    margin-top: 0px;
}
.right .menu-2 .menu-2-1 .commas img{
    float: left;
    width: 8%;
}
.right .menu-2 .menu-2-1 h3{
    color: #333333;
    width: 57%;
    font-weight: 100;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 19px;
}
.right .menu-2 .darrow img{
    float: left;
    position: absolute;
    height: 100px;
    margin-top: 150px;
    height: 17%;
    right: 11%;
}
.right .menu-2 .menu-2-1 .imagia-3 img{
    float: left;
    width: 60%;
    height: 203px;
}